html{
  padding: 0;
  box-sizing: border-box;
}
.userstab{
  color: blueviolet;
  background-color: rgb(228, 221, 235);
  box-shadow: rgba(137, 43, 226, 0.459) 0 10px 40px 0;
}
.userstab th,td{
  border: blueviolet 1px solid;
  border-collapse: collapse;
  padding: 10px;
}
.butn{
  background-color: white;
  color: blueviolet;
  padding: 10px 15px;
  border: solid 2px blueviolet;
  border-radius: 10px;
}
Header{
  background-color: rgb(228, 221, 235);
}
.cardd{
  border: blueviolet 1px solid;
  background-color: rgb(228, 221, 235);
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  color: blueviolet;
  font-weight: bold;
  box-shadow: rgba(137, 43, 226, 0.459) 0 10px 40px 0;
}
.carddd{
  border: blueviolet 1px solid;
  background-color: rgb(228, 221, 235);
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  color: blueviolet;
  font-weight: bold;
  box-shadow: rgba(137, 43, 226, 0.459) 0 10px 40px 0;
  height: 180px;
  margin: 20px 5px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
}
.cardddd{
  border: blueviolet 1px solid;
  background-color: rgb(228, 221, 235);
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  color: blueviolet;
  font-weight: bold;
  box-shadow: rgba(137, 43, 226, 0.459) 0 10px 40px 0;
  height: 250px;
  margin: 20px 5px;
  font-size: 18px;
  text-transform: capitalize;
}
.body{
  font-size: 12px;
  text-transform: none;
}
a{
  text-decoration: none !important;
  color: blueviolet;
}